.nav_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: .44rem;
  line-height: .44rem;
  text-align: center;
  background-color: #fff;
  z-index: 9;
  font-size: 18px;

  .line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    transform: scaleY(.2);
  }

  .header_l,
  .header_r {
    font-size: 20px;
    width: .44rem;
    height: .44rem;
  }

  .header_c {
    flex: 1;
    width: .44rem;
    height: .44rem;
    font-size: 0.18rem;
  }

  .header_r {
    position: relative;
  }

  .show-box {
    display: flex;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 4px;
    top: .44rem;
    width: 1.14rem;
    height: 1.11rem;
    background: rgba(0, 0, 0, .7);
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    transition: .7s;

    li {
      font-size: 14px;
      height: 36px;
    }

  }

  .showAvtive {
    display: block;
  }
}