// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }



.tab_menu {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.49rem;
  background: #fff;
  width: 100%;
  padding: 0;
  z-index: 999;

  .line {
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    transform: scaleY(.2);
  }

  .ant-tabs-nav-list {
    display: flex;

    .ant-tabs-tab {
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .ant-tabs-tab-btn {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        outline: none;
        overflow: hidden;
        font-size: 14px;

        span {
          margin: 8px 0 6px 0;
          transform: scale(1.2);
        }
      }
    }
  }

  .ant-tabs-tab-active {
    font-weight: 700;
    color: #3ecac2;
  }

  .ant-tabs-ink-bar {
    width: 0 !important;
  }
}